[submodule "auraclient"]
	path = lib/auraclient
	url = https://github.com/nekromant/auraclient.git
[submodule "esp8266-json"]
	path = lib/esp8266-json
	url = https://github.com/osbean/esp8266-json.git
[submodule "lib/esphttpclient"]
	path = lib/esphttpclient
	url = https://github.com/Caerbannog/esphttpclient.git
